<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/css/estilosform.css">
	<script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<title>Punto °6</title>
</head>
<body>
	<main>
		<div class="contentitle">
			<h2 class="tituloleft">Formulario</h2>
			<h3 class="tituloleft">Registro Usuario MISENA</h3>
		</div>
	
		<button class="botonsalir"><a href="../index.html" class="salir">Regresar</a></button>

		<form action="" class="formulario" id="formulario">
			<div class="formulario__grupo" id="grupo__docuemnto">
				<label for="documento" class="formulario__label"><i class="fa-regular fa-id-card"></i> Tipo Documento:</label>
				<div class="formulario__grupo-input">
					<select name="tipodo" id="tipodo"  class="formulario__input">
                        <option>Escoja una opción</option>
                        <option>C.C Cedula de Cuidadania</option>
                        <option>C.E Cedula de Extranjeria</option>
                        <option>N.I.P Numero de Identificación Personal</option>
                        <option>N.I.T Numero de Identificación Tributaria</option>
                        <option>P.A.P Pasaporte</option>
                        </select>
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
			</div>

			<div class="formulario__grupo" id="grupo__documento">
				<label for="documento" class="formulario__label">No° Documento:</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="documento" id="documento" onkeypress="return solonumeros(event)" minlength="7" maxlength="10" placeholder="Ingrese Aqui El Número De Su Documento">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Solo puedes ingresar números de mínimo 7 y máximo 10 digitos</p>
			</div>

			<!-- Grupo: Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="nombre" class="formulario__label">Nombre:</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="nombre" id="nombre" onkeypress="return sololetras(event)" maxlength="40" placeholder="Ingrese Aqui Su Nombre">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Solo puedes ingresar letras y un máximo 40 digitos</p>
			</div>

			<div class="formulario__grupo" id="grupo__apellido">
				<label for="apellido" class="formulario__label">Apellido:</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="apellido" id="apellido" onkeypress="return sololetras(event)" maxlength="40" placeholder="Ingrese Aqui Su Apellido">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Solo puedes ingresar letras y un máximo 40 digitos</p>
			</div>

			<!-- Grupo: Teléfono -->
			<div class="formulario__grupo" id="fecha">
				<label for="fecha" class="formulario__label">Fecha Nacimiento:</label>
				<div class="formulario__grupo-input">
					<input type="date" class="formulario__input" name="fecha" id="fecha" min="1900-01-01" max="2002-12-31">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo" id="grupo__correo">
				<label for="correo" class="formulario__label"><i class="fa-solid fa-envelope"></i> Correo Electrónico:</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="correo" id="correo" onkeypress="return caracteresespeciales(event)" maxlength="80" placeholder="Ingrese Aqui Su Correo Electrónico">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El correo no tiene el formato correcto debe ser formato SENA Ej: usuario@misena.edu.co</p>
			</div>

		
			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="password" class="formulario__label"><i class="fa-solid fa-key"></i> Contraseña:</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password" onkeypress="return caracteresespeciales(event)" minlength="8" maxlength="10" placeholder="Ingrese Aqui Su Contraseña">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">La contraseña debe incluir minimo 8 caracteres, 1 símbolo, 1 mayúscula, 1 minúscula y 1 número.</p>
			</div>


			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="password2" class="formulario__label">Confirmar Contraseña:</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password2" id="password2" onkeypress="return caracteresespeciales(event)" minlength="8" maxlength="10" placeholder="Ingrese Aqui Su Contraseña Nuevamente">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">Las contraseñas no coinciden</p>
			</div>

			

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<a class="termiyserv" href="#miModalusua"><input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">Acepto los Terminos y Condiciones</a>
                        <div id="miModalusua" class="modalusua">
                           <div class="modal-contenidousua">
                                <h2 class="titulotermi">Terminos y Condiciones</h2>
                                <img class="terminos" src="../assets/img/terminos-y-condiciones.png">
                                 <br>
                                 <p class="parrafotermi">Estos Terminos del Servicio reflejan la forma de trabajar
                                 de Google como empresa, las leyes por las que nos rejimos
                                 y determinamos aspectos que siempre hemos creido que son
                                ciertos. Por ello, estos Terminos del Sericio ayudan a definir
                                la relacion que tiene Google contigo cuando interactuas con nuestros
                                servicios. Por ejemplo, estos terminos incluyen las siguientes
                                secciones: 
                                </p>
                                <br>
                                <p class="parrafotermi">Que puedes esperar de nosotros, donde se describe como
                                porporcionamos y desarrollamos nuestros servicios. Lo 
                                que esperamos de ti. Donde se establece ciertas reglas
                                para utilizar nuestros servicios.
                                </p>
                                <br>
                                  <button><a class="regresousua" href="#">Aceptar</a></button>
                           </div>  
                        </div>
				</label>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> !QUE MAL! Hay campos sin rellenar o incorrectos por favor verifica.</p>
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Enviar</button>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">!EN HORA BUENA! se ha registrado el usuario exitosamente!</p>
			</div>
		</form>
	</main>

	<script src="../assets/js/punto6.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>