<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilosMenu.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Punto °3</title>
</head>
<body>
    <div class="contentitle">
        <h2 class="tituloleft">!Bievenido!</h2>
        <h3 class="tituloleft">Este es el punto N°3</h3>
    </div>

    <button class="botonsalir"><a href="../index.html" class="salir">Regresar</a></button>

    <section class="cont22">
    <div class="contriangulo">
            <label class="label1">El Triangúlo(3L)</label>
            <br>
            <label class="label2">Lado N°1</label>
            <br>
            <input type="number" name="Lado1" id="Lado1" placeholder="Ingrese el valor del lado 1">
            <br>

            <label class="label3">Lado N°2</label>
            <br>
            <input type="number" name="Lado2" id="Lado2" placeholder="Ingrese el valor del lado 2" >
            <br>

            <label class="label4">Lado N°3</label>
            <br>
            <input type="number" name="Lado3" id="Lado3" placeholder="Ingrese el valor del lado 3">
            <br>
            <label class="label5">Hallar Que Tipo De Triangúlo Es:</label>
            <br>
            <button type="button" name="ttriangulo" id="ttriangulo">Hallar</button>
    </div>
    </section>

    <script src="../assets/js/punto3.js"></script>
</body>
</html>